body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-shadow: 2px 2px 2px gray;
}
h2 {
    text-transform: uppercase;
    color: blue;
    letter-spacing: 2px;
    font-size: 10px;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: italic;
}
h4 {
    font-weight: bold;
}